/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6
*/
#Action_bar { display: none; }
body:not(.template-slider) #Header {
    min-height: unset;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { .cover-section .subscribe-form input.wpcf7-submit { bottom: 53px !important; } }

/*** Buttons settings ***/
.blue-btn {
    color: #fff !important;
    font-family: "Akkurat";
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.25px;
    border-radius: 25px !important;
    width: 250px;
    background-image: -moz-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%) !important;
    background-image: -webkit-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%) !important;
    background-image: -ms-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%) !important;
}
a.blue-btn .button_label { float: none; }


/*** Main menu settings ***/
#Top_bar { top: 37px; }
#Top_bar .logo { margin: 0 30px 0 0px; }
#Top_bar .menu > li > a span { letter-spacing: 0px !important; }
#menu-douugh_menu .contact-us { 
    border-right: 1px solid #fff; 
    margin-right: 20px !important; 
}
#Top_bar .menu > li:last-child {
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    border: 1px solid #ffffff;
    width: 180px;
    text-align: center;
}
#Top_bar .menu > li > a span:not(.description) { line-height: 45px; }
#Top_bar.is-sticky { background: rgba(0,0,0,0.8) !important; }
.header-transparent #Top_bar.is-sticky .menu > li > a span:not(.description) { line-height: 40px; }
#Top_bar.is-sticky .menu_wrapper { 
    position: relative;
    top: 8px;
}

/*** Cover section ***/

.cover-section { margin: 300px 0px 160px 0px; }
.cover-title {
    text-align: center;
    font-family:"Akkurat Light";
    color: #ffffff;
    font-size: 56px;
    letter-spacing: -0.25px;
}
.cover-subtitle {
    text-align: center;
    font-family:"Akkurat";
    color: #ffffff;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0px;
    width: 760px;
    margin: 0 auto;
    padding-top: 25px;
}

.cover-section .subscribe-form {
    display: block;
    width: 490px;
    margin: 0 auto;
    padding-top: 45px;
}
.cover-section .subscribe-form .your-email input { 
    width:320px;
    height: 50px;
    border-radius: 25px 0px 0px 25px;
    padding-left: 25px;
}
.cover-section .subscribe-form input.wpcf7-submit { 
    float: right;
    display: inline-block;
    width: 180px;
    border-radius: 25px;
    position: relative;
    bottom: 59px;
    height: 50px;
    right:5px;
    font-size: 17px;
	font-family: "Akkurat";
	letter-spacing: 0.25px;
    background-image: -moz-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%);
    background-image: -webkit-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%);
    background-image: -ms-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%);
}
.cover-section .subscribe-form .your-email input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	font-size: 17px;
    letter-spacing: 0.25px;
    color: #4d4d4d;
    opacity: 1;
}
.cover-section .subscribe-form .your-email input::-moz-placeholder { /* Firefox 19+ */
    font-size: 17px;
    letter-spacing: 0.25px;
    color: #4d4d4d;
    opacity: 1;
}
.cover-section .subscribe-form .your-email input:-ms-input-placeholder { /* IE 10+ */
  	font-size: 17px;
    letter-spacing: 0.25px;
    color: #4d4d4d;
    opacity: 1;
}
.cover-section .subscribe-form .your-email input:-moz-placeholder { /* Firefox 18- */
  	font-size: 17px;
    letter-spacing: 0.25px;
    color: #4d4d4d;
    opacity: 1;
}

/*** A better way to bank section ***/
.iphone-snd-section { background-position: right 215px !important; }
.goals-section { text-align: center; }
.goals-section .list_item.lists_3 .list_left {
    display: block;
    margin: 0 auto;
}
.iphone-second-section {
    display: block;
    position: absolute;
    right: 0px;
    top: -102px;
}
.section-heading {
    font-size: 42px;
    font-family: "Akkurat Light";
    letter-spacing: -0.25px;
    color: #4d4d4d;
}
.section-content {
    font-size: 21px;
    font-family: "Akkurat";
    letter-spacing: 0px;
    line-height: 32px;
    color: #4d4d4d;
}
.goals-section .list_item.lists_3 .list_right h4 {
    font-family: "Akkurat";
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 19px;
    color: #4d4d4d; 
}
.goals-section .list_item.lists_3 .list_right .desc {
    font-family: "Akkurat";
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 19px;
    color: #4d4d4d;
    line-height: 25px;
}
.simple-credit-section .left-list .list-image { display: inline-block; }
.simple-credit-section ul li label {
    display: inline-block;
    width: 50%;
    margin-left: 20px;
    vertical-align: top;
    font-size: 19px;
    font-family: "Akkurat";
    font-weight: 500;
    color: #4D4D4D;
}
.simple-credit-section ul li { margin-bottom: 40px; }
.simple-credit-section .right-list .list-image{
    display: inline-block;
    width: 50px;
}
.simple-credit-section .right-list li label { width: 30% !important; }
.left-list { 
    width: 49%;
    float: left;
    margin-left: 0px !important;
}
.left-list li { list-style-type: none !important; }
.left-list i {
    font-size: 40px; 
    color: #00cf90;
}
.list-right { width: 49%; }
.right-list li { list-style-type: none !important; }
.right-list i {
    font-size: 40px; 
    color: #00cf90;
}
.white-text-section .section-heading { color: #ffffff; }
.white-text-section .section-content { color: #ffffff; }
.white-text-section .goals-section .list_item.lists_3 .list_right h4 { color: #ffffff; }
/*** Bank logos ***/
.australian-bank-logos img { 
    vertical-align: middle; 
    padding: 0 20px;
}
/*** iPhone second section ***/
.iphone-snd-section { padding: 10px 0 60px 0 !important; }

/*** A simple line of credit ***/
.simple-credit-section { padding: 130px 0 80px 0 !important; }
.simple-credit-section .section-heading { margin: -50px 0 30px 0; }
.simple-credit-section .section-content { padding: 25px 0 10px 0; }

/*** Contactless payment section ***/
.contactless-payment-section .douugh-credit-card img { padding: 50px 11% 0; }
.contactless-payment-section { padding: 80px 0 90px 0 !important; }
.contactless-payment-section .section-content { margin: 25px 0; }
.contactless-payment-section .section-heading { padding-bottom: 15px; }
.contactless-payment-section .nfc-pay { margin-right: 15px; }

/*** Easy to save section ***/
.easy-to-save-section { padding: 90px 0 100px 0 !important; }
.easy-to-save-section .section-content { margin-top: 25px; }
.easy-to-save-section .section-heading { padding: 20px 0 15px 0; }

/*** Safe and secure section ***/
.safe-and-secure-section { padding: 90px 0 100px 0 !important; }
.safe-and-secure-section .section-content { margin-top: 25px; }
.safe-and-secure-section .section-heading { padding: 20px 0 15px 0; }

/*** Additional features section ***/
.additional-features-section { padding: 80px 0 95px 0 !important; }
.additional-features-section .section-content { margin-top: 25px; }
.additional-features-section .section-heading { padding-bottom: 15px; }

/*** Getting Started section ***/
.getting-started-section { padding: 80px 0 90px 0 !important; }
.getting-started-section .contactless-payment-section { padding-bottom: 50px; }
.getting-started-section .section-content { margin-top: 25px; }
.getting-started-section .section-heading { padding-bottom: 15px; }

/*** Contact us section ***/
.contact-us-section { padding: 130px 0 80px 0px !important; }
.contact-us-section .blue-btn { margin-top: 20px; }


/*** Footer settings ***/

#Footer {
    background-color: #4d4d4d !important;
    background-image: none !important;
}
#Footer .language-bar { 
    margin: 0px 10px;
    position: relative;
    bottom: 10px;
    left: 30px;
}
#Footer .widgets_wrapper {
    padding: 10px 0 10px !important;
}
.footer-links a {
    font-size: 19px;
    letter-spacing: 0.25px;
    line-height: 32px;
    padding-right: 50px;
    color: #cccccc !important;
}
.footer-links a:last-child {
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    border: 1px solid #ffffff;
    width: 180px;
    text-align: center;
    padding: 10px 35px !important;
    margin-left: 25px;
}
.footer-contact {
    padding-right: 25px !important;
    border-right: 1px solid #838383;
}

/* About Us Page settings */
.about-our-story { padding: 130px 0 0px 0 !important; }
.aboutus-cover-section .cover-section { margin: 245px 30px 55px 20px; }
.aboutus-cover-section .cover-section .cover-subtitle { font-size: 21px; }
.aboutus-cover-section .cover-section .cover-title { font-size: 48px; }
.aboutus-cover-section .cover-title { text-align: left; }
.aboutus-cover-section .cover-subtitle { text-align: left; margin: unset; }
.aboutus-douugh-icon img { 
    padding: 170px 0 150px 0;
    top: -20px !important; 
}
.about-our-story .column_attr.clearfix { padding: 50px 0% 0px !important; }
.about-our-story { background-position: left center !important; }

/*** Contact Us Page settings ***/

.contact-us-form .group { 
  position: relative; 
  margin-bottom: 5px; 
}
.contact-us-form input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block !important;
    width: 300px !important;
    border: none;
    border-bottom: 3px solid #dddddd;
    box-shadow: none;
}
.contact-us-form .wpcf7-form-control-wrap textarea {
    box-shadow: none !important;
    resize: none !important;
    height: 40px;
    min-height: 40px;
    border: none;
    border-bottom: 3px solid #dddddd;
    border-radius: 2px;
    background: transparent;
    width: 300px !important;
}
.contact-us-form input:focus { outline:none; }
.contact-us-form label               {
  color: #999; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}
.focused-label {
    position: relative;
    top: -15px !important;
    font-size: 13px !important;
}
.contact-us-form .wpcf7-form-control-wrap input:focus {
    background: transparent !important;
    border-bottom: 3px solid #7c5eea;
    box-shadow: 0px 15px 10px -10px rgba(10, 7, 11, 0.15);
    transition: all 0.5s ease;
}
.contact-us-form .wpcf7-form-control-wrap textarea:focus {
    background: transparent !important;
    border-bottom: 3px solid #7c5eea;
    box-shadow: 0px 15px 10px -10px rgba(10, 7, 11, 0.15) !important;
    transition: all 0.5s ease;
}
.contact-us-list ul li{
    list-style: none;
    color: #4d4d4d;
    font-size: 19px;
    font-family: "Akkurat";
    line-height: 26px;
}
.contact-us-list ul { margin-left: 0px; }
.contact-us-list i { 
    font-size: 41px !important; 
    vertical-align: middle; 
}

/*** Blog pages settings ***/
.post-footer { 
    background-color: transparent; 
    padding-left: 0px;
}
.post-footer .button-love { display: none; }
.post-footer .post-comments { display: none; }
.post-footer i { display: none; }
.post-footer .post-links { 
    border: none;  
    float: left;
    padding-left: 0px;
}
.post-head .post-author { display: none; }
.post-head .date .label { display: none; }
.post-head .date i { display: none; }
.post-head .category { display: none; }
.post-footer .post-links .post-more {
    background-image: -moz-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%);
    background-image: -webkit-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%);
    background-image: -ms-linear-gradient( 82deg, rgb(6,116,235) 0%, rgb(4,163,239) 100%);
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.25px;
    font-family: "Akkurat";
    padding: 10px 35px;
    border-radius: 25px;
}
.post-desc { padding: 5px 0 0 20px; }
.author-date span {
    font-size: 13px;
    line-height: 25px;
    font-family: "Akkurat";
    color: #808080;
}
.post-title .entry-title {
    font-size: 25px;
    letter-spacing: -0.25px;
    font-family: "Akkurat Light";
    color: #4d4d4d;
}
.post-excerpt {
    font-size: 15px;
    line-height: 26px;
    color: #808080;
    font-family: "Akkurat";
}
.post-item .image_frame .image_wrapper .mask::after { display: none; }
.post-item .image_frame .image_wrapper .image_links.double { display: none; }
#searchform .field {
    border-radius: 25px !important;
    background-color: #ffffff;
    border-color: #cccccc;
}
.widget_search .icon_search { 
    display: block; 
    position: relative;
    float: right;
    top: 30px;
    right: 10px;
    font-size: 20px;
}
.widget_archive h3 {
    margin-bottom: 0px !important;
    padding-bottom: 25px;
    font-size: 19px;
    font-weight: bold;
    font-family: "Akkurat";
    color: #4d4d4d;
}
.widget_archive ul {
    list-style-type: none;
    padding: 5px 10px 5px 0px;
    background: transparent;
    font-size: 15px;
    line-height: 26px;
}
.widget-archive-divider { 
    display: block !important; 
    position: relative;
    top: 20px;
}
.widget-recentpost-divider {
    display: block;
    position: relative;
    top: 20px;
}
.widget_archive ul a { color: #4d4d4d; }
.widget_mfn_recent_posts h3 {
    margin-bottom: 30px;
    padding-bottom: 25px;
    font-size: 19px;
    font-weight: bold;
    font-family: "Akkurat";
    color: #4d4d4d;
}
.Recent_posts .photo span { display: none; }
.Recent_posts .desc h6 {
    border-color: transparent !important;
    font-size: 13px;
    line-height: 19px;
    color: #4c4c4c;
    font-family: "Akkurat";
}
.Recent_posts .desc .date i { display: none !important; }
.Recent_posts .desc .date {
    font-size: 13px;
    color: #808080 !important;
    top: 20px;
}
.post-item .image_frame { background-color: transparent; }
.post-item .image_frame { border-color: transparent; }
.post-item .image_frame .image_wrapper .mask {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*** Single post settings ***/

.post-nav { display: none; }
.post-meta .author-date .post-author { display: none; }
.post-meta .author-date .date .label { display: none !important; }
.post-meta .author-date .date i { display: none; }
.post-meta .meta-categories { display: none; }
.post-meta .mata-tags { display: none; }
.button-love { display: none; }
.post-header .title_wrapper {
    margin-left: 0px;
    padding-left: 0px;
    border: none;
}
.single-photo-wrapper .image_frame { border: none !important; }
.post-header .title_wrapper h1 { padding-top: 90px; }
.share_wrapper {
    border: none;
    position: absolute;
    left: -70px;
}
.section-post-about { display: none; }
.fixed-nav.fixed-nav-prev { display: none; }
.post-related .image_frame {
    margin-left: 0px !important;
    border: none !important;
}
.post-related .date_label { display: none; }
.section-post-related h4 {
    font-size: 19px;
    font-family: "Akkurat";
    color: #4d4d4d;
}
.post-related .desc h4 {
    font-size: 19px;
    font-family: "Akkurat Light";
}
.post-related .desc h4 a { 
    color: #4d4d4d !important; 
    letter-spacing: -0.25px;
}
.post-related .desc hr { display: none; }
.post-related .desc a.button { display: none; }
.section-post-comments { display: none; }
.post-wrapper-content .section_wrapper .the_content_wrapper { 
    font-size: 17px; 
    line-height: 26px;
    color: #4c4c4c;
    font-family: "Akkurat";
}
.post-meta .author-date .author { display: none; }
.author-date .date span { display: none; }
.post-title h2 { 
    font-size: 25px; 
    letter-spacing: -0.25px;
}
.post-excerpt p {
    font-family: "Akkurat";
    font-size: 15px; 
    line-height: 26px;
    color: #808080;
}
/* Blog cover section */
#Subheader .title { display: none; }
#Subheader ul.breadcrumbs { display: none; }
#Subheader {
    background-image: url('http://neopixdev.com/douugh/wp-content/uploads/2016/08/cover-blog-page.png');
    padding: 365px 0px 100px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
}
.blog-cover-title {
    font-size: 48px;
    color: #ffffff;
    letter-spacing: -0.25px;
    font-family: "Akkurat";
    padding-bottom: 30px;
}
.blog-cover-subtitle {
    font-size: 21px;
    color: #ffffff;
    font-family: "Akkurat";
    margin-top: 20px;
}
.pager .pages {
    background-image: none;
    background-color: transparent;
}
.pager .pages a:hover, .pager .pages a.active {
    border-radius: 25px;
    background-color: #0590EE !important;
}
